.correction-list__content {
    width: 90%;
    padding-bottom: 100px;
    max-width: 1000px;
    min-width: 700px;
}

.tag {
    margin-bottom: 50px;
    border-bottom: 1px solid black;
}

.tag__link {
    display: inline-block;
    padding: 20px 100px;
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.tag__link--active {
    font-weight: bold;
}

.table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    table-layout: fixed;
}

.table__row {
    height: 50px;
    background-color: white;
}

.table__header {
    color: #737373;
    font-size: 16px;
}

.table__item {
    color: #737373;
    font-size: 16px;
    font-weight: bold;
    border-top: 3px solid #f0eff2;
    text-align: center;
}

.table__item--status {
    width: 100px;
}

.table__item--date {
    width: 20%;
}

.table__item--reason {
    width: 30%;
}

.table__detail {
    color: black;
    text-decoration: none;
}