.detail__content {
    width: 90%;
    max-width: 1000px;
    min-width: 700px;
    padding-bottom: 100px;
}

.detail__form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__content {
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.form__group {
    display: flex;
    height: 90px;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid #f0eff2;
}

.form__label {
    display: flex;
    align-items: center;
    width: 30%;
    padding: 0 50px;
}

.form__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.form__input--name {
    padding-left: 30px;
}

.form__input--date {
    width: 120px;
    text-align: center;
}

.form__input--time {
    width: 120px;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.form__input--notes {
    height: 80%;
    width: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    resize: none;
}

.form__input--non-active {
    border-style: none;
    pointer-events: none;
}

.form__error {
    width: 100%;
    height: 50px;
    padding: 10px 0;
    color: red;
    font-size: 18px;
}

.form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    border: none;
    border-radius: 10px;
}

.form__button--text {
    font-size: 16px;
    color: red;
}